* {
  font-family: 'Cormorant Unicase', serif;

}
.App {
  text-align: center;

}
.pficon {
  height: 148px;
  width: 148px;
  border: 2px solid black;
}
#root {
  background-color:#f4f4f4;
}
.container {
  display: flex;
  justify-content: space-around;
  /* background: rgba(204, 204, 204, 0); */
  /* background-color: transparent; */
  /* visibility: hidden; */
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
  max-height: 300px;
  overflow: scroll;
}
.info {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
  overflow: scroll;
}
.header {
  background-image: url("http://pluspng.com/img-png/league-of-legends-hd-png-file-lol-new-logo-png-900.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  text-align: center;
  font-family: 'Acme', sans-serif;
  background-color: rgb(0, 0, 0);

}
h1 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 0px;
  color: white;
}

.playernames {
  font-weight: 900;
}
input {
  font-size: 30px;
  height: 30px;
  width: 200px;
}
button {
  font-size: 20px;
  height: 30px;
  width: 200px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: white;

}
.headerhead {
  color: white;
}
.selectedgameicon {
  height: 50px;
  width: 50px;
}