* {
  /* font-family: 'Cormorant Unicase', serif; */
}
.pficon {
  height: 148px;
  width: 148px;
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: space-around;
  background: rgba(151, 8, 8, .5);
  /* visibility: hidden; */
  /* opacity: .5; */
  /* background-color: blue; */
}
.container > * {
  opacity: 1;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-height: 100vh;
  overflow: auto;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;

}
.info {
  /* display: inline-flex; */
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
  max-height: 100vh;
  overflow: scroll;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Lato', sans-serif;
  display: flex;
  text-align: center;
  /* justify-content: space-between;
  flex-flow: column wrap; */
}
.header {
  background-image: url("http://pluspng.com/img-png/league-of-legends-hd-png-file-lol-new-logo-png-900.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center; 
  text-align: center;
  font-family: 'Cormorant Unicase', serif;
  background-color: rgb(0, 0, 0);
  text-shadow: -1px 0 #1005a3, 0 1px #1005a3, 1px 0 #1005a3, 0 -1px #1005a3;
  padding-bottom: 50px;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 0px;
  color: rgb(204, 5, 5);
}

.playernames {
  font-weight: 900;
  z-index: 1;
}
input {
  font-size: 30px;
  height: 30px;
  width: 200px;
}
button {
  font-size: 20px;
  height: 30px;
  width: 200px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  margin-top: 10px;
  border-radius: 25px;

}
input {
  border-radius: 10px;
  margin-top: 10px;
}
.headerhead {
  color: white;
}
.selectedgameicon {
  height: 50px;
  width: 50px;
}
img {
  border-radius: 50%;
}
.rowdiv:hover {
  background-color: rgba(245, 155, 81, .3);
  cursor: pointer;
}
.rowdiv {
font-size: 30px;
border-top: 5px dotted white;
}
h3 {
  margin-top: 4px;
  margin-bottom: 10px;
}
.columnheader {
  text-shadow: -1px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -1px #ffffff;
}
.infodiv {
  /* flex-direction: column; */
  max-width: 49%;
  border: 1px solid black;
  /* margin-left: auto;
  margin-right: auto; */
}
.infoheader {
  /* display: inline-block;
  align-content: center; */
  text-align: center;
}