html,
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}
.pficon {
  height: 148px;
  width: 148px;
  border: 2px solid black;
}

.container {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
}
.container > * {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-height: 100vh;
  overflow: auto;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.info {
  flex: 2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Lato", sans-serif;
  height: 100%;
  max-height: 100vh;
  overflow: scroll;
  
}
.infoinfo {
  display: flex;
  color: white;
  text-align: center;
  justify-content: space-evenly;
  height: 100vh;

}
.header {
  background-image: url("http://pluspng.com/img-png/league-of-legends-hd-png-file-lol-new-logo-png-900.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-family: "Cormorant Unicase", serif;
  background-color: rgb(0, 0, 0);
  text-shadow: -1px 0 #1005a3, 0 1px #1005a3, 1px 0 #1005a3, 0 -1px #1005a3;
  padding-bottom: 50px;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 0px;
  color: rgb(204, 5, 5);
}

.playernames {
  font-weight: 900;
  margin-left: 15px;  
}
input {
  font-size: 30px;
  height: 30px;
  width: 200px;
}
button {
  font-size: 20px;
  height: 30px;
  width: 200px;
  display: block;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  margin-top: 10px;
  border-radius: 25px;
}
input {
  border-radius: 10px;
  margin-top: 10px;
}
.headerhead {
  color: white;
}
.selectedgameicon {
  height: 50px;
  width: 50px;
}
img {
  border-radius: 50%;
}
.rowdiv:hover {
  background-color: rgba(245, 155, 81, 0.3);
  cursor: pointer;
}
.rowdiv {
  font-size: 30px;
  border-top: 5px dotted white;
}
h3 {
  margin-top: 4px;
  margin-bottom: 10px;
}
.columnheader {
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
.infodiv {
  width: 49%;
  border: 1px solid black;
  display: inline-block;
}
.infoheader {
  text-align: center;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.infodivleft {
  display: flex;
  flex: 1;
  flex-basis: 100%;
}
.infodivright {
  display: flex;
  flex: 1;
  flex-basis: 100%;
}
.teamred {
  color: red;
}
.teamblue {
  color: #3aa8e3;
}
.winorlose {
  margin-left: 10px;
  margin-right: 10px;
}
h4 {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  align-content: center;
  margin-bottom: 5px;
}
h5 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.infodivcontainer {
  border-top: 1px solid #f4f4f4;
}
.preheader {
  background-image: url("http://pluspng.com/img-png/league-of-legends-hd-png-file-lol-new-logo-png-900.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
}
.preheader form {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

}
.preheader input {
  text-align: center;
  align-content: center;
  margin: 0 auto;
}
h2 {
  color: #f4f4f4;
  margin-top: 0px;
}
.headerusername {
  font-size: 60px;
  color: rgb(64, 134, 200);
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}